@page
@model WebApp.Pages.Despatches.DeleteModel

@{
    ViewData["Title"] = "Delete Proposal";
}

<div class="container">
    <h3>Are you sure you want to delete this Despatch Entry ?</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despatch.ReferenceNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despatch.ReferenceNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despatch.SendTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despatch.SendTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despatch.Purpose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despatch.Purpose)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despatch.IndentingDept)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despatch.IndentingDept)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despatch.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despatch.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despatch.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despatch.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despatch.LastModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despatch.LastModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despatch.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despatch.LastModified)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Despatch.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>